<div>
    <div class="container">
        <div class="row">
           <!-- ko foreach: { data: categories, as: 'category' } -->

            <div class="col-md-3 padding-bottom-15 padding-top-15">
                <div class="outer" data-bind="click: $root.select">
                    <img data-bind="attr: { src: category.picture }, css: { 'category-selected': category.isSelected() }" class="food-kind img-responsive img-rounded">
                    <div class="inner text-line-5"><p class="text-center font-size-8"><strong data-bind="text: category.name"></strong></p></div>
                </div>
            </div>
            <!-- /ko -->
        </div>
    </div>
</div>


