<div>
    <!--<div id="header">
        <div class="row alert alert-success" style="margin-bottom: 0px;">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-9">
                        <div class="font-size-3">
                            <strong data-bind="text: title"></strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

    <div>
        <div id="productSection" class="section" data-bind="compose: productViewModel"></div>
        <!--<div class="section" data-bind="compose: locationViewModel"></div>-->
    </div>
</div>