<div>
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="row" data-bind="foreach: {data:filteredProducts, as: 'product'}">
                    <div class="col-md-1 padding-bottom-15 padding-left-7 padding-right-7" data-bind="click: $root.selectProduct">
                        <img data-bind="attr:{src: product.image, alt: product.name , title: product.name }, css: { 'product-selected': product.isSelected() }" class="img-responsive img-rounded">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>





