<div>
    <p>aa</p>
    <p>aa</p>
    <p>aa</p>
    <p>aa</p>
    <p>aa</p>
    <p>aa</p>
    <p>aa</p>
    <p>aa</p>
    <p>aa</p>
    <p>aa</p>
    <p>aa</p>
    <p>aa</p>
    <p>aa</p>
    <p>aa</p>
    <p>aa</p>
    <p>aa</p>
    <p>aa</p>
    <p>aa</p>
    <p>aa</p>
    <p>aa</p>
    <p>aa</p>
    <p>aa</p>
    <p>aa</p>
    <p>aa</p>
    <p>aa</p>
    <p>aa</p>
    <p>aa</p>
    <p>aa</p>
    <p>aa</p>
    <p>aa</p>
    <p>aa</p>
    <p>aa</p>
    <p>aa</p>
    <p>aa</p>
    <p>aa</p>
    <p>aa</p>
    <p>aa</p>
    <div data-bind="foreach: {data:filteredProducts, as: 'product'}">

        <div class="padding-bottom-15 padding-left-7 padding-right-7"
             data-bind="click: $root.selectProduct">

            <img data-bind="attr:{src: product.image, alt: product.name , title: product.name }, css: { 'product-selected': product.isSelected() }">
        </div>
    </div>
</div>