<div>
    <div class="row">
        <div class="col-md-12">




                <h3><small>Warzywa</small></h3>
                <div class="row">
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="http://127.0.0.1:8000/media/products/original/burak.jpg" />
                            <div class="caption">
                                <h3>Jakaś nazwa dla ziemniaka</h3>
                                <p>Moje ziemniaki są jasne. Przeszły sdasd da sa das dad a ds a s.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="http://127.0.0.1:8000/media/products/original/burak.jpg" />
                            <div class="caption">
                                <h3>Jakaś nazwa dla ziemniaka</h3>
                                <p>Moje ziemniaki są jasne. Przeszły sdasd da sa das dad a ds a s.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="http://127.0.0.1:8000/media/products/original/burak.jpg" />
                            <div class="caption">
                                <h3>Jakaś nazwa dla ziemniaka</h3>
                                <p>Moje ziemniaki są jasne. Przeszły sdasd da sa das dad a ds a s.</p>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="http://127.0.0.1:8000/media/products/original/burak.jpg" />
                        <div class="caption">
                            <h3>Jakaś nazwa dla ziemniaka</h3>
                            <p>Moje ziemniaki są jasne. Przeszły sdasd da sa das dad a ds a s.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="http://127.0.0.1:8000/media/products/original/burak.jpg" />
                        <div class="caption">
                            <h3>Jakaś nazwa dla ziemniaka</h3>
                            <p>Moje ziemniaki są jasne. Przeszły sdasd da sa das dad a ds a s.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="http://127.0.0.1:8000/media/products/original/burak.jpg" />
                        <div class="caption">
                            <h3>Jakaś nazwa dla ziemniaka</h3>
                            <p>Moje ziemniaki są jasne. Przeszły sdasd da sa das dad a ds a s.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3><small>Owoce</small></h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="http://127.0.0.1:8000/media/products/original/arbus.jpg" />
                        <div class="caption">
                            <h3>Jakaś nazwa dla ziemniaka</h3>
                            <p>Moje ziemniaki są jasne. Przeszły sdasd da sa das dad a ds a s.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="http://127.0.0.1:8000/media/products/original/arbus.jpg" />
                        <div class="caption">
                            <h3>Jakaś nazwa dla ziemniaka</h3>
                            <p>Moje ziemniaki są jasne. Przeszły sdasd da sa das dad a ds a s.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="http://127.0.0.1:8000/media/products/original/arbus.jpg" />
                        <div class="caption">
                            <h3>Jakaś nazwa dla ziemniaka</h3>
                            <p>Moje ziemniaki są jasne. Przeszły sdasd da sa das dad a ds a s.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="http://127.0.0.1:8000/media/products/original/arbus.jpg" />
                        <div class="caption">
                            <h3>Jakaś nazwa dla ziemniaka</h3>
                            <p>Moje ziemniaki są jasne. Przeszły sdasd da sa das dad a ds a s.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="http://127.0.0.1:8000/media/products/original/arbus.jpg" />
                        <div class="caption">
                            <h3>Jakaś nazwa dla ziemniaka</h3>
                            <p>Moje ziemniaki są jasne. Przeszły sdasd da sa das dad a ds a s.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="http://127.0.0.1:8000/media/products/original/arbus.jpg" />
                        <div class="caption">
                            <h3>Jakaś nazwa dla ziemniaka</h3>
                            <p>Moje ziemniaki są jasne. Przeszły sdasd da sa das dad a ds a s.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="http://127.0.0.1:8000/media/products/original/arbus.jpg" />
                        <div class="caption">
                            <h3>Jakaś nazwa dla ziemniaka</h3>
                            <p>Moje ziemniaki są jasne. Przeszły sdasd da sa das dad a ds a s.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="http://127.0.0.1:8000/media/products/original/arbus.jpg" />
                        <div class="caption">
                            <h3>Jakaś nazwa dla ziemniaka</h3>
                            <p>Moje ziemniaki są jasne. Przeszły sdasd da sa das dad a ds a s.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="http://127.0.0.1:8000/media/products/original/arbus.jpg" />
                        <div class="caption">
                            <h3>Jakaś nazwa dla ziemniaka</h3>
                            <p>Moje ziemniaki są jasne. Przeszły sdasd da sa das dad a ds a s.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="row">
                <div class="col-md-4">
                    <div class="product-item">
                        <div class="product-image">
                            <img src="http://127.0.0.1:8000/media/products/original/burak.jpg" />
                        </div>
                        <div class="product-desc">
                            <h4 class="title">Jakaś nazwa dla ziemniaka</h4>
                            <p class="desc">Moje ziemniaki są jasne. Przeszły sdasd da sa das dad a ds a s.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="product-item">
                        <div class="product-image">
                            <img src="http://127.0.0.1:8000/media/products/original/burak.jpg" />
                        </div>
                        <div class="product-desc">
                            <h4 class="title">Jakaś nazwa dla ziemniaka</h4>
                            <p class="desc">Moje ziemniaki są jasne. Przeszły sdasd da sa das dad a ds a s.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="product-item">
                        <div class="product-image">
                            <img src="http://127.0.0.1:8000/media/products/original/burak.jpg" />
                        </div>
                        <div class="product-desc">
                            <h4 class="title">Jakaś nazwa dla ziemniaka</h4>
                            <p class="desc">Moje ziemniaki są jasne. Przeszły sdasd da sa das dad a ds a s.</p>
                        </div>
                    </div>
                </div>
            </div>-->