html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#applicationHost {
    width: 100%;
    height: 100%;
}

#filters-panel {
    /*border: thin solid #d3d3d3;*/
}

#results-panel {
    /*border: thin solid #d3d3d3;*/
}

#map-panel {
}

#map-canvas {
    height: 300px;
}

.margin-top-05 { margin-top: 0.5em; }
.margin-top-10 { margin-top: 1.0em; }
.margin-top-15 { margin-top: 1.5em; }
.margin-top-20 { margin-top: 2.0em; }
.margin-top-25 { margin-top: 2.5em; }
.margin-top-30 { margin-top: 3.0em; }

#selected-filters {
    background-color: #E7E7E7;
    border-radius: 2px;
}

#filters-panel .navbar {
    margin-bottom: 0px;
}

.disable-link {
    color: gray;
}

.disable-link:hover
{
    text-decoration: none;
    color: gray;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}