/***************/
/*Global styles*/
/***************/

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

#applicationHost {
    height: 100%;
}

#applicationHost > div {
    height: 100%;
}

.page-host {
    position: relative;
    height: 100%;
}

.page-host > div {
    height: 100%;
}

.section {
    position: relative;
    width: 100%;
    height: 100%;
}

.no-selectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}

.my-view {
    position: relative;
    height: 100%;
}

/*********************/
/*Styles for map.html*/
/*********************/

#result-map {
    width: 100%;
    height: 100%;
}

#filters {
    position: absolute;
    top: 0em;
    left: 0em;
    height: 100%;
    width: 4%;
    background-color: white;
}

#filters > div {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: 2px solid black;
    text-align: center;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#filters > div:nth-child(1) {
    margin-top: 1em;
    background-color: red;
}

#filters > div:nth-child(2) {
    margin-top: 1em;
    background-color: #16B875;
}

#product-filter, #location-filter {
    width: 96%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 4%;
    background-color: rgba(0,0,0,0.7);
    display: none;
    color: white;
}

.actions {
    position: absolute;
    top: 1%;
    right: 1%;
}

.action {
    font-size: 30px;
    cursor: default;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.action:hover {
    text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.close-action {
    color: white;
}

.close-action:hover {
    color: red;
}

.search-action {
    color: white;
    margin-right: 5px;
}

.search-action:hover {
    color: #16B875;
}

/***************************/
/*Styles for product filter*/
/***************************/

.inline-image-container {
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 1em;
}

.inline-image-container:hover {
    cursor: pointer;
}

.inline-image-container > img {
    width: 80px;
    height: auto;
    border-radius: 50%;
    border: 2px white solid;
    margin-bottom: 6px;
}

.inline-image-container > img:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 1em #ccc;
}

.inline-image-container > .img-description {
    color: white;
    text-shadow: -1px -1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000, 1px 1px 0px #000;
}

.inline-image-container > .img-selected {
    position: absolute;
    right: 0;
    color: white;
    text-shadow: -1px -1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000, 1px 1px 0px #000;
    font-size: 20px;
}

.text-shadow {
    text-shadow: -1px -1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000, 1px 1px 0px #000;
}

/****************************/
/*Styles for location filter*/
/****************************/

.center-location-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 20%;
    left: 0;
    margin: auto;
    height: 10em;
    width: 40em;
}

#bloodhound {
    width: 100%;
}

.twitter-typeahead {
    width: 100%;
}

.typeahead,
.tt-query,
.tt-hint {
    width: 396px;
    height: 100%;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}

.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 2px solid #16B875;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-menu {
    width: 422px;
    margin: 12px 0;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}


/*.twitter-typeahead {*/
    /*display: block;*/
    /*width: 30em;*/
    /*overflow: hidden;*/
/*}*/

/*.typeahead {*/
    /**/
/*}*/

/*.tt-query {*/
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
    /*-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
/*}*/

/*.tt-hint {*/
    /*color: #999*/
/*}*/

/*.tt-dropdown-menu {*/
    /*width: 422px;*/
    /*margin-top: 4px;*/
    /*padding: 4px 0;*/
    /*background-color: #fff;*/
    /*border: 1px solid #ccc;*/
    /*border: 1px solid rgba(0, 0, 0, 0.2);*/
    /*-webkit-border-radius: 4px;*/
    /*-moz-border-radius: 4px;*/
    /*border-radius: 4px;*/
    /*-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);*/
    /*-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);*/
    /*box-shadow: 0 5px 10px rgba(0, 0, 0, .2);*/
/*}*/

/*.tt-suggestion {*/
    /*padding: 3px 20px;*/
    /*line-height: 34px;*/
    /*font-family: FontAwesome;*/
/*}*/

/*.tt-suggestion.tt-cursor {*/
    /*color: #fff;*/
    /*background-color: #0097cf;*/
    /*letter-spacing: 1px;*/

/*}*/

/*.tt-suggestion p {*/
    /*margin: 0;*/
/*}*/