<div class="my-view">
    <div id="result-map"></div>
    <div id="filters">
        <div data-bind="click: displayProductFilter">P</div>
        <div data-bind="click: displayLocationFilter">M</div>
    </div>

    <div id="product-filter" data-bind="with: productFilterViewModel">

        <!-- ko foreach: {data:filteredProducts, as: 'product'} -->
        <div class="inline-image-container" data-bind="click: $parent.selectProduct">
            <img data-bind="attr:{src: product.image, alt: product.name }" class="img-responsive">
            <span class="img-description" data-bind="text: product.name"></span>
            <span class="glyphicon glyphicon-ok img-selected" data-bind="visible: product.isSelected"></span>
        </div>
        <!-- /ko -->

        <div>
            <button class="btn btn-lg btn-primary" data-bind="click: function() { $parent.search(); }">Pokaż</button>
        </div>

        <div class="actions">
            <span class="glyphicon glyphicon-remove action close-action pull-right" data-bind="click: $parent.closeFilters" title="Close"></span>
        </div>
    </div>

    <div id="location-filter" data-bind="with: locationFilterViewModel">
        <div class="center-location-content">

            <h2 class="text-shadow">Wprowadź miejscowość</h2>
            <div id="bloodhound" class="input-group">
                <input type="text" class="form-control typeahead" placeholder="np. Warszawa">
            </div>
            <div>
                <button class="btn btn-lg btn-primary" data-bind="click: function() { $parent.search(); }">Pokaż</button>
            </div>
        </div>

        <div class="actions">
            <span class="glyphicon glyphicon-remove action close-action pull-right" data-bind="click: $parent.closeFilters" title="Close"></span>
        </div>
    </div>
</div>
