<div>
    <div class="row" id="filters-panel">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand">Określ:</a>
                    </div>
                    <ul class="nav navbar-nav nav-pills">
                        <li class="active"><a href="#locations" role="tab" data-toggle="tab">lokalizacje</a></li>
                        <li><a href="#warzywa" role="tab" data-toggle="tab">warzywa</a></li>
                        <li><a href="#owoce" role="tab" data-toggle="tab">owoce</a></li>
                    </ul>
                </div>

                <div class="container-fluid">
                    <div class="tab-content">
                        <div class="tab-pane active" id="locations">
                            <br/>
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <input id="searchCity"
                                               type="text"
                                               placeholder="Wyszukaj miejscowość"
                                               class="form-control"
                                               data-bind="valueUpdate: 'afterkeydown', event: { 'keyup': searchCities }">
                                    </div>
                                    <div class="checkbox col-md-2">
                                        <label>
                                            <input type="checkbox" value="">
                                            Szukaj wszędzie
                                        </label>
                                    </div>
                                    <div class="checkbox col-md-2">
                                        <label>
                                            <input type="checkbox" value="">
                                            Najbliżej mnie
                                        </label>
                                    </div>
                                </div>
                            </form>

                            <div class="row" id="filtered-elements" data-bind="foreach: filteredCities">
                                <div class="col-md-2" data-bind="foreach: $data">
                                    <p>
                                        <a data-bind="text: $data.name, css: { 'disable-link': $data.isSelected()}, click: $root.selectCity"></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="warzywa"></div>
                        <div class="tab-pane" id="owoce"></div>
                    </div>
                </div>
            </nav>

            <div class="container-fluid" id="selected-filters">
                <h4>Twój wybór:</h4>
                <div class="row">
                    <div class="col-md-1">
                        <p>Lokalizacje:</p>
                    </div>
                    <div class="col-md-10">
                        <ul class="list-inline" data-bind="foreach: selectedCities">
                            <li data-bind="text: $data.name"></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <p>Warzywa:</p>
                    </div>
                    <div class="col-md-11">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <p>Owoce:</p>
                    </div>
                    <div class="col-md-11">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="map-panel">
        <div class="col-md-12">
            <div id="map-canvas">

            </div>
        </div>
    </div>
    <div class="row" id="results-panel">
        <div class="col-md-12">
            <p></p>


            <div class="list-group" id="accord">
                <li data-toggle="collapse" data-parent="#accord" data-target="#test" class="list-group-item">
                    <h4 class="list-group-item-heading">List group item heading</h4>

                    <div class="collapse" id="test">
                        <p class="list-group-item-text">adasdadasd</p>
                    </div>
                </li>
                <li data-toggle="collapse" data-parent="#accord" data-target="#test2" class="list-group-item">
                    <h4 class="list-group-item-heading">List group2 item heading</h4>

                    <div class="collapse" id="test2">
                        <p class="list-group-item-text">asdasdas</p>
                    </div>
                </li>
            </div>
        </div>
    </div>
</div>