<div>
    <div class="row" id="filters-panel">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Określ:</a>
                    </div>
                    <ul class="nav navbar-nav nav-tabs">
                        <li><a href="#home" role="tab" data-toggle="tab">lokalizacje</a></li>
                        <li><a href="#profile" role="tab" data-toggle="tab">produkty</a></li>
                        <li><a href="#messages" role="tab" data-toggle="tab">sprzedających</a></li>
                    </ul>
                </div>

                <div class="tab-content">
                    <div class="tab-pane" id="home">
                        <br/>
                        <div class="row">
                            <div class="col-md-offset-2 col-md-8">
                                <div class="form-group">
                                    <input id="searchCity" type="text" placeholder="Wyszukaj miasto" class="form-control" data-bind=" value: enteredValue, valueUpdate = 'afterkeydown', event: { 'keyup': searchForCities }">
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <!-- ko foreach: filteredCities -->
                            <div class="col-md-2">
                                <!-- ko foreach: $data -->
                                   <p>
                                       <a data-bind="text: $data, click: $root.dupa"></a>
                                   </p>
                                <!-- /ko -->
                            </div>
                            <!-- /ko -->
                        </div>
                    </div>
                    <div class="tab-pane" id="profile">asdsad</div>
                    <div class="tab-pane" id="messages">.adsagfsdfg..</div>
                </div>
            </nav>

            <div id="selected-filters">
                 <div class="row">
                     <div class="col-md-1">
                         <b>Lokalizacje:</b>
                     </div>
                     <div class="col-md-11">
                         <ul data-bind="foreach: selectedCities">
                             <li data-bind="text: $data"></li>
                         </ul>
                     </div>
                 </div>
                <div class="row">
                    <div class="col-md-1">
                        <b>Produkty:</b>
                    </div>
                    <div class="col-md-11">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <b>Sprzedający:</b>
                    </div>
                    <div class="col-md-11">
                            ...
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-top-05" id="map-panel">
        <div class="col-md-12">
            <div id="map-canvas">

            </div>
        </div>
    </div>
    <div class="row margin-top-05" id="results-panel">
        <div class="col-md-12">
            <p></p>


            <div class="list-group" id="accord">
                <li data-toggle="collapse" data-parent="#accord" data-target="#test" class="list-group-item">
                    <h4 class="list-group-item-heading">List group item heading</h4>

                    <div class="collapse" id="test">
                        <p class="list-group-item-text">adasdadasd</p>
                    </div>
                </li>
                <li data-toggle="collapse" data-parent="#accord" data-target="#test2" class="list-group-item">
                    <h4 class="list-group-item-heading">List group2 item heading</h4>

                    <div class="collapse" id="test2">
                        <p class="list-group-item-text">asdasdas</p>
                    </div>
                </li>
            </div>
        </div>
    </div>
</div>